Repository custardcream98/youtube-scrap-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "src/**/*.{js,ts}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md}": ["prettier --write"]
}

chore: update description
  README.md
  package.json
Due: prettier --write

chore: update readme
  README.ko.md
  README.md
  package.json
Due: prettier --write

chore: prepare publish
  .npmignore
  LICENSE
  package.json
Due: prettier --write

chore: change test script
  package.json
Due: prettier --write

feat: remove transcript truncation for improved output clarity
  src/tools/extract-youtube.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: update prettier config
  .prettierrc
Due: none

feat: enhance transcript cleaning by adding functions to remove consecutive words, repeating segments, and triple repeats
  src/utils/transcript-cleaner.ts
Due: prettier --write, eslint --fix --max-warnings=0

v.0.1.1
  package.json
Due: prettier --write
